body {
  font-family: Arial;
  margin: 0;
  scroll-behavior: smooth;
  transition: 0.3s;
}

/* NAVBAR */
.navbar h2 {
  position: relative;
}

.navbar h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 3px;
  background: #ffb300;
  transition: 0.3s;
}

.navbar h2:hover::after {
  width: 100%;
}


/* SECTIONS */
section {
  padding: 60px;
  text-align: center;
}

/* BUTTONS */
button {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #2980b9;
}

/* DARK MODE */
.dark {
  background: #121212;
  color: white;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home-text {
  max-width: 400px;
}

.home-img img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

/* Hero */
.hero {
  text-align: center;
  padding: 60px;
  background: linear-gradient(to right, #fbd786, #f7797d);
  color: black;
}

.profile-img {
  width: 120px;
  border-radius: 50%;
}

/* Sections */
section {
  padding: 40px;
  text-align: center;
}

/* Skills */
.skills-box span {
  background: #2575fc;
  color: white;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 20px;
  transition: 0.3s;
}

.skills-box span:hover {
  transform: scale(1.1);
}

/* Cards */
.project-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;
}

/* Buttons */
button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background: black;
  color: white;
}

html {
  scroll-behavior: smooth;
}

.tabs {
  text-align: center;
  margin-top: 20px;
}

.tabs button {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  background: #2575fc;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.tabs button:hover {
  background: black;
}

/* Hide sections initially */
.content-section {
  display: none;
  padding: 30px;
}
